{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Semestre</th>
                <td>{{ cour.semestre.semestre }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cour.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description | raw }}</td>
            </tr>
            <tr>
                <th>Ects</th>
                <td>{{ cour.ects }}</td>
            </tr>
            <tr>
                <th>HeureTp</th>
                <td>{{ cour.heureTp }}</td>
            </tr>
            <tr>
                <th>HeureTd</th>
                <td>{{ cour.heureTd }}</td>
            </tr>
            <tr>
                <th>HeureCm</th>
                <td>{{ cour.heureCm }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
